.formContainer {
  max-width: 1000px;
  max-height: 600px;
  display: flex;
  box-shadow: 0px 0px 10px gray;
  border-radius: 15px;
}

.imgContainer {
  overflow: hidden;
  max-width: 50%;
  border-radius: 15px 0 0 15px;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.fullscreen {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.Error {
  color: red;
  max-width: 300px;
  font-size: 12px;
  margin: 0 0 10px 0;
}

.passwordInput {
  position: relative;
  margin-bottom: 16px;
}

.passwordInput input {
  position: relative;
  padding-right: 40px; 
 } 

.showPasswordButton {
  width:20px; height: 20px;
  position: absolute;
  top:10px;
  right: 10px;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}
.showPasswordButton2 {
  width:20px; height: 20px;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}


