.fullscreen {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 200px);
}

.formContainer {
  max-width: clamp(300px, 80%, 900px);
  max-height: 600px;
  display: flex;
  box-shadow: 0px 0px 10px gray;
  border-radius: 15px;
}

.imgContainer {
  overflow: hidden;
  max-width: clamp(20%, 40%, 50%);
  border-radius: 15px 0 0 15px;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.loginName {
  font-size: 1.875rem;
  font-weight: bold;
  color: #000;
  margin-bottom: 2rem;
}
.email_container{
  margin-bottom: 10px;
}

.emailLabel {
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
}

.inputText {
  border-width: 1px;
  border-radius: 0.375rem;
  border-color: rgb(100, 116, 139);
  padding: 0.5rem 1rem;
  width: 100%;
}

.passwordInput {
  position: relative;
  margin-bottom: 16px;
}

.labelPassword {
  font-size: 0.875rem;
  line-height: 1.25re;
}

.passwordInput input {
  position: relative;
  padding-right: 40px;
}

.showPasswordButton {
  width: clamp(15px, 20px, 20px);
  height: clamp(15px, 20px, 20px);
  position: absolute;
  top: 35px;
  right: 10px;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.rememberMePos {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}
.labelCheckbox{
  font-size: 14px;
}
.checkboxSize {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}

.submitButton {
  border: 1px solid;
  background-color: #34d399;
  border-radius: 0.375rem;
  height: 3rem;
  color: #fff;
  margin-bottom: 2rem;
  width: 100%;
}

.submitButton:hover {
  background-color: #42dd7d;
}

.footerP {
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
}

.forgotPassword {
  margin-left: 100px;
  font-size: 0.875rem;
  color: #2563eb;
}

.loginText {
  font-size: 0.875rem;
  color: blue;
}
