.formContainer{
max-width: clamp(500px,50%,1000px);
max-height: 600px;

display: flex;

box-shadow: 0px 0px 10px gray;

border-radius: 15px;
}
.imgContainer{
overflow: hidden;
max-width: 50%;
border-radius: 15px 0 0 15px;
}
.loginContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    

    margin: 0 auto;
}
.fullscreen{
    display: flex;
    align-items:center;
    justify-content: center;
    width:100vw;
    height:100vh ;
    
}
.passwordInput {
    position: relative;
    margin-bottom: 16px;
  }
  
  .passwordInput input {
    padding-right: 40px; 
  }
  
  .showPasswordButton {
    width: 20px; 
    height: 20px;
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    right: 10px; 
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  