/* style.module.css */
.footer{
  display: flex;
  justify-content: center;
  align-items:end;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.199);
  position: absolute;
  bottom:0;
}
.footer_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 100px;
  width: clamp(300px,70%,1080px);
    
  }
  
  .socialIcon_footer {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .selfIcon {
    margin-right: 20px;
  }
  
  .selfImg {
    width: 20px;
    height: 20px;
    color:white;
  }
  
  .footer_text {
    display:flex;
    justify-content: center;
    align-items:center;

   
    color: white;
    font-size: 14px;
    
  }
  .heart {
    margin: 0 2px 0 2px;
  }