.footer_container{
  
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.219);

  width: 100vw;
  height: 80px;

}

.button_item{
  border: 1px solid rgba(255, 255, 255, 0.363);
  border-radius: 16px;
    
  margin-left: 10px;
  padding: 0.5rem;

  

  
}
.button_item:hover{
  background-color: white;
  color: black;
}