.register_section {
  display: flex;
  width: clamp(300px, 70vw, 800px);
  height: clamp(450px, 60vh, 550px);
  max-height: 550px;

  position: relative;

  
  border-radius:40px;
  box-shadow: 0 0 15px white;
}



.login > .register_form {
  transform:translateX(-100%);
}
.login > .image_container {
  transform:translateX(100%);
  border-radius: 100px 40px 40px 100px;
}



.register_form {
  position: relative;

  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.5s linear ;
  
  width: 50%;
}

.image_container {
  position: relative;
  z-index: 5;

  width: 50%;
  height: 100%;
  overflow: hidden;
  border-radius: 40px 100px 100px 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transition: all .5s linear ;
  
}
.register_image {
  position: absolute;

  object-fit: cover;
  z-index: 3;
}
.nav_text {
  margin-top: 40%;
  font-size: 20px;
  z-index: 4;
}
.submit_button {
  color: red;
  margin-top: 20px;

  border-radius: 12px;

  border: 2px solid rgba(252, 3, 3);
  padding: 10px 20px;

  font-weight: bold;

  z-index: 4;
}

.register_name {
 
}

.input_container {
  position: relative;
  margin-top: 15px;
  width: 80%;
  display: flex;
  flex-direction: column;
}
.input_label {
  color: white;
  font-size: 14px;
}
.form_input {
  border: 1px solid white;
  border-radius: 12px;

  padding: 10px 20px;
}
.show_password {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;

 
}
.showpass_icon{
width: 20px;
}
