/* style.module.css */

.footer_container {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
   
    height: 100px;
    background-color: antiquewhite;
    margin-top: auto;
    
  }
  
  .socialIcon_footer {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .selfIcon {
    margin-right: 20px;
  }
  
  .selfImg {
    width: 20px;
    height: 20px;
  }
  
  .footer_text {
    display:flex;
    justify-content: center;
    align-items:center;

   
    color: black;
    font-size: 14px;
    
  }
  