/* Variables */
:root {
  --backgroundColor: #000;
  --textColor: #fff;

  --containerSize: clamp(300px, 80%, 1200px);
}

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;

  font-family: "Poppins", sans-serif;
  color: #fff;
}

/* Remove paddings */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove margins */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Main body changes */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;

  background-color: #000;
}

/* UL and OL class styles reset */
ul[class],
ol[class] {
  list-style: none;
}

/* Link reset */
a,
a:not([class]) {
  text-decoration: none;
  text-decoration-skip-ink: none;
}

/* Button reset */
input,
button,
button:not([class]) {
  background: none;
  border: none;
  cursor: pointer;

  text-decoration: none;
  text-decoration-skip-ink: none;
}

/* Image */
img {
  max-width: 100%;
  display: block;
}

/* Article */
article > * + * {
  margin-top: 1em;
}

/* Fonts */
input,
button,
textarea,
select {
  font: inherit;
}

/* Main styles */

.container {
  margin: 0 auto;
  max-width: var(--containerSize);
  min-height: calc(100vh - 160px);
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
}

.dotsContainer {
  position: absolute;
  bottom: 12px;
  left: 50%;
  z-index: 3;
  transform: translateX(-50%);

  display: flex !important;
  align-items: center;
}

.dotsContainer li.slick-active div {
  width: 24px;
  height: 6px;

  background-color: red;
  border-radius: 3px;
  animation: anim-vibrate 2s infinite;
}

@keyframes anim-vibrate {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(252, 3, 3, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 0.6rem rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
div.rti--container{
  width: 400px!important;
  
  
}
.rti--tag{
  background-color:#000!important;
}